html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 88);
}

#container>div {
    background-color: black;
}

#container {
    display: grid;
    width: 550px;
    height: 550px;
    position: static;
    border: 3px solid rgb(73, 110, 124);
}

#layout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#layout>div {
    flex-basis: 100%;
}

#layout_item_1 {
    display: flex;
    justify-content: end;
}

#layout_item_2 {
    display: flex;
    justify-content: start;
}

#slider {
    background-color: white;
    width: 190px;
    height: 3px;
    border-radius: 10px;
    border: 3px solid rgb(32, 31, 41);
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3466c4;
    cursor: pointer;
    border-radius: 100%;
    border: none;
}

#square_text {
    cursor: default;
    font-size: 20px;
    color: rgb(34, 34, 34);
}

#square_text::selection {
    background-color: none;
}

#item_background {
    background-color: rgb(80, 80, 80);
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 5px solid rgb(32, 31, 41);
    margin-right: 200px;
}